* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Figtree', sans-serif !important;
  color: black;
  background-color: white;
}

.nav a {
  color: black;
}

.project-card {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.project-card-header {
  height: 8rem;
  border-bottom: 1px solid black;
}

.project-card-header-info-wrap {
  display: inline-flex;
  height: 100%;
  align-items: end;
}

.project-card-header .lozenge,
.project-card-header .text {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  margin-right: 4px;
}

.project-card-header .lozenge {
  display: inline-flex;
  color: white;
  background-color: black;
  border-radius: 4px;
  align-items: center;
  height: 24px;
}

.project-card-header .lozenge span.icon {
  font-size: 12px !important;
  margin-right: 4px;
}

.project-card-header .lozenge span {
  font-size: 12px !important;
}

.project-card-body {
  height: 4rem;
  padding: 0.875rem 0.5rem 0.5rem 0.5rem;
}

@media screen and (min-width: 576px) {
  .nav {
    padding-top: 0.5rem;
  }

  #nav-primary {
    padding-right: 0 !important;
    padding-left: 3px !important;
  }

  .nav-primary {
    width: 64px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    height: 100vh;
  }

  .nav-1st-bottom {
    align-self: flex-end;
  }
}

.project-card h5 {
  line-height: 100%;
  font-size: 16px;
  font-weight: 600;
}

.project-card p {
  font-size: 14px;
}

.nav-2nd-wrap {
  list-style: none;
}

.nav-2nd-item {
  display: inline-flex;
  padding: 4px 12px 4px 8px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  align-items: center;
  margin-left: 0.5rem;
}

.nav-2nd-item span {
  margin-right: 0.25rem;
}

.nav-2nd-item-select {
  background-color: black;
  color: white;
}
